html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 340px;
  overflow-x: hidden;
  @include opensans-regular;
  font-size: 15px;
  line-height: 25px;
  background-color: #ffffff;
  color: $black;
  position: relative;
}

main {
  min-height: 100vh;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

svg {
  pointer-events: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

.number-mask,
.currency-mask {
  text-align: left !important;
}

.hidden {
  display: none !important;
}

._disabled {
  opacity: 0.5;
  pointer-events: none;
}

.site-container {
  position: relative;
  overflow: hidden;
}


.container {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 15px;
}


.dz-details,
.dz-progress,
.dz-error-message,
.dz-success-mark,
.dz-error-mark {
  display: none !important;
}

.dz-message {
  button {
    padding: 0;
  }
}

.dz-remove {
  line-height: 0;
  font-size: 0;
}

.dz-preview:not(.dz-preview.dz-processing) {
  display: none;
}


.general-dropzone__previews {
  width: 100%;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.dz-preview {
  width: 180px;
  height: 118px;
  border: 1px solid #D0D5DF;
  border-radius: 3px;
  position: relative;

  .dz-image {
    height: 115px;
  }

  img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 3px;
  }

  &:hover {
    .dz-remove {
      display: block;
    }
  }

}

.dz-remove {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect opacity='0.3' width='20' height='20' rx='1' fill='black'/%3e%3cpath d='M10.7522 10.0002L15.8447 4.90761C16.0526 4.69977 16.0526 4.36336 15.8447 4.15552C15.6369 3.94816 15.3005 3.94816 15.0926 4.15552L10.0001 9.24809L4.90797 4.15552C4.70013 3.94816 4.36372 3.94816 4.15588 4.15552C3.94852 4.36336 3.94852 4.69977 4.15588 4.90761L9.24845 10.0002L4.15588 15.0923C3.94804 15.3001 3.94804 15.6365 4.15588 15.8444C4.2598 15.9483 4.39562 16 4.53193 16C4.66823 16 4.80405 15.9483 4.90797 15.8444L10.0005 10.7518L15.0931 15.8444C15.197 15.9483 15.3329 16 15.4692 16C15.6055 16 15.7413 15.9483 15.8452 15.8444C16.053 15.6365 16.053 15.3001 15.8452 15.0923L10.7522 10.0002Z' fill='white' stroke='white'/%3e%3c/svg%3e") no-repeat;
  display: none;
}

.trim-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.air-datepicker-body--day-name {
  color: #817D8C;
  @include opensans-regular;
  font-size: 11px;
  text-transform: capitalize;
}

.air-datepicker-cell.-day- {
  @include opensans-regular;
  font-size: 13px;
  line-height: 15px;
  color: #000000;

  &.-selected- {
    background-color: #064AB1;
    color: #ffffff;
  }
}


.air-datepicker-nav--title {
  @include opensans-regular;
  font-size: 13px;
  line-height: 15px;
  color: #000000;

  i {
    @include opensans-regular;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
  }
}


.air-datepicker-global-container {
  z-index: 9999;
}

.date-custom-container {
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
}

.currency-mask-text {
  text-align: left !important;
}